/* 
 * Styles for a BugGuide subtheme of the Bulma base theme.
 */

/* --------------------- */
/* VARIABLES
/* --------------------- */
/* IE11 does not support CSS variables, so fallbacks
 * are required at this time. TODO */

:root {

  --tan-light: #e7dbc1;
  --tan: #c6be9e;
  --brown-light: #7d714f;
  --brown: #76684a;
  --brown-dark: #444023;
  --green: #1c8240;
  --green-dark: #1D6D39;

  --link: #76684a;
  --primary: var(--green);
  --primary-dark: var(--green-dark);
}

/* --------------------- */
/* ## LINKS & BUTTONS
/* --------------------- */

a, a:link,
.breadcrumb a {
  color: var(--brown);
  text-decoration-color: var(--brown-light);
}

a:hover,
.breadcrumb a:hover {
  color: var(--green);
  text-decoration-color: var(--green);
}

.button { border-color: var(--tan); }
.button:hover { border-color: var(--brown); }

.button.is-tan { color: var(--brown-dark); background: var(--tan); }
.button.is-tan:hover { color: var(--brown-dark); border-color: var(--brown); }

.button.is-primary { background-color: var(--green); }
.button.is-primary:hover { background-color: var(--green-dark); }
/* Reset to bulma.io focus style for all other buttons */
.button.is-primary:focus:not(:active) { 
  box-shadow: 0 0 0 0.125em rgba(50, 115, 220, 0.25);
}

.button.is-brown { color: #ffffff; background: var(--brown); }
.button.is-brown:hover { color: #ffffff; background: var(--brown-dark); }

/* Search Page */

.search-form input[type=submit] { background-color: var(--green); }
.search-form input[type=submit]:hover { background-color: var(--green-dark); }

/* --------------------- */
/* ## TABLES
/* --------------------- */
/* Duplicate bulma.io table styles because sometimes you just
 * can't get your class on a table. To target those stray tables
 * add your selectors to each rule. It ain't pretty, but it'll do.
 */

/* .page-user-track is user/%/track, a table created in modules/tracker */

.page-user-track table {
  background-color: white;
  color: #363636;
  margin-bottom: 1.5rem;
}

.page-user-track table td,
.page-user-track table th {
  border: 1px solid #dbdbdb;
  border-width: 0 0 1px;
  padding: 0.5em 0.75em;
  vertical-align: top;
}

.page-user-track table th {
  color: #363636;
  text-align: left;
}

.page-user-track table thead td,
.page-user-track table thead th {
  border-width: 0 0 2px;
  color: #363636;
}

.page-user-track table tfoot td,
.page-user-track table tfoot th {
  border-width: 2px 0 0;
  color: #363636;
}

.page-user-track table tbody tr:last-child td,
.page-user-track table tbody tr:last-child th {
  border-bottom-width: 0;
}

/* --- Table Modifiers --- */
/* Add your selectors here if you want to mimic
 * the modifier classes from bulma.io
 */

/* .is-full-width */
.page-user-track table {
  width: 100%;
}

/* .is-narrow */
.page-user-track table td,
.page-user-track table th {
  padding: 0.25em 0.5em;
}

.page-user-track table td,
.page-user-track table th {
  white-space: nowrap;
  width: 1%;
}

/* .is-striped */
.page-user-track table tbody tr:nth-child(even) {
  background-color: #fafafa;
}

/* --------------------- */
/* ## MOBILE MENU
/* --------------------- */

.menu-toggle {
  margin: 0.5rem;
}

@media screen and (min-width: 1024px) {
  .menu-toggle { display: none; }
}

/* --------------------- */
/* ## NAVBAR
/* --------------------- */
/* Create new color options for the Bulma.io navbar element. */

.navbar.is-tan-light {
  color: #000000;
  background-color: var(--tan-light);
}

@media screen and (min-width: 1024px) {
  .navbar.is-tan-light .navbar-start > a.navbar-item:hover, 
  .navbar.is-tan-light .navbar-start > a.navbar-item.is-active, 
  .navbar.is-tan-light .navbar-start .navbar-link:hover, 
  .navbar.is-tan-light .navbar-start .navbar-link.is-active, 
  .navbar.is-tan-light .navbar-end > a.navbar-item:hover, 
  .navbar.is-tan-light .navbar-end > a.navbar-item.is-active, 
  .navbar.is-tan-light .navbar-end .navbar-link:hover, 
  .navbar.is-tan-light .navbar-end .navbar-link.is-active,

  .navbar.is-tan-light .navbar-links > li > a:hover,
  .navbar.is-tan-light .navbar-links > li.active > a,
  .navbar.is-tan-light .navbar-links > li.active-trail > a,
  .navbar.is-tan-light .expanded:hover > a {
    background-color: rgba(0, 0, 0, 0.15);
  }
}

.navbar.is-tan {
  color: #000000;
  background-color: var(--tan);
}

@media screen and (min-width: 1024px) {
  .navbar.is-tan .navbar-start > a.navbar-item:hover, 
  .navbar.is-tan .navbar-start > a.navbar-item.is-active, 
  .navbar.is-tan .navbar-start .navbar-link:hover, 
  .navbar.is-tan .navbar-start .navbar-link.is-active, 
  .navbar.is-tan .navbar-end > a.navbar-item:hover, 
  .navbar.is-tan .navbar-end > a.navbar-item.is-active, 
  .navbar.is-tan .navbar-end .navbar-link:hover, 
  .navbar.is-tan .navbar-end .navbar-link.is-active,

  .navbar.is-tan .navbar-links > li > a:hover,
  .navbar.is-tan .navbar-links > li.active > a,
  .navbar.is-tan .navbar-links > li.active-trail > a,
  .navbar.is-tan .expanded:hover > a  {
    color: white;
    background-color: var(--brown-dark);
  }
}

.navbar-links .expanded > a:after {
  border-color: inherit;
}

/* -------------------- */
/* ## SEARCH
/* -------------------- */

.block-search-api-page form > div,
#search-api-page-search-form > div {
  display: flex;
  flex-wrap: wrap;
}

.block-search-api-page .form-type-textfield {
  margin-bottom: 0;
}

.block-search-api-page input {
  border-radius: 3px 0 0 3px;
}

.block-search-api-page .form-submit {
  border-radius: 0 3px 3px 0;
}

.block-search-api-page input[type=text],
#search-api-page-search-form input[type=text] {
  display: inline-flex;
  align-items: center;
  justify-content: flex-start;
  position: relative;
  height: 2.25em;
  min-width: 200px;
  max-width: 100%;
  padding-bottom: calc(0.375em - 1px);
  padding-left: calc(0.625em - 1px);
  padding-right: calc(0.625em - 1px);
  padding-top: calc(0.375em - 1px);
  border: 1px solid transparent;
  border-radius: 3px 0 0 3px;
  box-shadow: none;
  font-size: 1rem;
  color: #363636;
  line-height: 1.5;
  vertical-align: top;
  background-color: white;
  border-color: #dbdbdb;
  box-shadow: inset 0 1px 2px rgba(10, 10, 10, 0.1);
}

.block-search-api-page input[type=submit],
#search-api-page-search-form input[type=submit] {
  align-items: center;
  border: 1px solid transparent;
  border-radius: 0 3px 3px 0;
  box-shadow: none;
  display: inline-flex;
  font-size: 1rem;
  height: 2.25em;
  justify-content: flex-start;
  line-height: 1.5;
  padding-bottom: calc(0.375em - 1px);
  padding-left: calc(0.625em - 1px);
  padding-right: calc(0.625em - 1px);
  padding-top: calc(0.375em - 1px);
  position: relative;
  vertical-align: top;
  user-select: none;
  background-color: white;
  border-color: #dbdbdb;
  color: #363636;
  cursor: pointer;
  justify-content: center;
  padding-left: 0.75em;
  padding-right: 0.75em;
  text-align: center;
  white-space: nowrap;

  /* .is-primary */
  background-color: var(--primary);
  border-color: transparent;
  color: #fff;
}

.block-search-api-page  input[type=submit]:hover,
#search-api-page-search-form input[type=submit]:hover {
  /* .is-primary */
  background-color: var(--primary-dark);
  border-color: transparent;
  color: #fff;
}

.block-search-api-page  input[type=submit]:focus:not(:active),
#search-api-page-search-form input[type=submit]:focus:not(:active) {
  box-shadow: 0 0 0 0.125em rgba(0, 209, 178, 0.25);
}

/* --- SEARCH PAGES --- */

.search-form input[type=submit] {
  margin-bottom: 1rem;
}

.page-search h1,
.page-search h2 {
  /* .title.is-4 */
  margin-bottom: 1.5rem;
  font-weight: bold;
  font-size: 1.5rem;
}

.search-api-page-results {
  margin-top: 1rem;
  padding-top: 1rem;
  border-top: 1px solid #ddd;
}

/* --- ADVANCED SEARCH --- */

.view-advanced-search .views-exposed-widgets {
  display: flex;
  flex-wrap: wrap;
}

.view-advanced-search .views-exposed-widget {
  width: 33%;
  padding-bottom: 0.5rem;
  border-bottom: 1px solid #ddd;
  float: none;
}

.view-advanced-search .views-widget-filter-field_bgimage_life_stage_value,
.view-advanced-search .views-submit-button {
  width: 66%;
}

.view-advanced-search .views-submit-button {
  flex-grow: 1;
}

.view-advanced-search .views-exposed-widget .form-checkboxes {
  padding-left: 0;
}

.view-advanced-search .form-item {
  margin-bottom: 0.25rem !important;
}

.view-advanced-search .views-exposed-widget > label {
  display: block;
  margin-bottom: 0.5rem;
}

.view-advanced-search .views-exposed-widget .form-checkboxes label {
  font-weight: normal;
}

.view-advanced-search .description {
  margin-top: 0;
}

.view-advanced-search .views-widget-per-page {
  width: auto;
}

.view-advanced-search .form-submit {
  color: #fff;
  background: var(--primary);
  margin-top: 0;
}
  .view-advanced-search .form-submit:hover {
    color: #fff;
    background: var(--primary-dark);
  }

@media (max-width: 560px) {
  .view-advanced-search .views-exposed-widgets {
    display: block;
  }
  .view-advanced-search .views-exposed-widget {
    width: 100%;
    border-bottom: 0;
  }
  .view-advanced-search .views-exposed-widget .form-submit {
    margin-top: 0;
  }
}

/* --------------------- */
/* ## HERO
/* --------------------- */

.home-hero {
  background-image: url(../images/bg_caterpillar.jpg);
  background-size: cover;
  background-position: center;
}

/* --------------------- */
/* ## VISUAL GUIDE
/* --------------------- */

.bg-visual-guide a {
  display: block;
}

.bg-visual-guide a:hover {
  outline: 2px solid var(--primary);
}

/* --------------------- */
/* ## BREADCRUMB
/* --------------------- */

.breadcrumb ul, .breadcrumb ol {
  flex-wrap: wrap;
  max-width: 100%;
}

.breadcrumb a {
  padding: 0.25em 0.75em;
}

@media (max-width: 1023px) {
  .breadcrumb { padding: 0 1rem; }
}

/* --------------------- */
/* ## TAGS
/* --------------------- */

.field-name-field-tags .field-items {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
}

.field-name-field-tags .field-item a {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: whitesmoke;
  border-radius: 3px;
  border: 1px solid var(--tan);
  color: #4a4a4a;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  font-size: 0.75rem;
  height: 2em;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  line-height: 1.5;
  padding-left: 0.75em;
  padding-right: 0.75em;
  white-space: nowrap;
  text-decoration: none;
}

.field-name-field-tags .field-item a:before {
  content: '\f02b';
  font-family: FontAwesome;
  margin-right: 0.5em;
  opacity: 0.6;
}
  .field-name-field-tags .field-item a:hover {
    border-color: var(--brown);
  }

.field-name-field-tags .field-item:not(:last-child) {
  margin-right: 0.5rem;
}

.field-name-field-tags form.editable-field > div {
  display: flex;
  flex-wrap: wrap;
}

.field-name-field-tags form.editable-field input[type=submit] {
  margin-left: 0.5rem;
  /* is-small */
  font-size: 0.75rem;
  border-radius: 2px;
}

/* --------------------- */
/* ## BUG CARD
/* --------------------- */

.node-bgimage.view-mode-homepage .field-name-field-bgimage-image .field-item img {
  border: 1px solid #ddd;
}

/* --------------------- */
/* ## BUG PAGE
/* --------------------- */

.node-bgimage.view-mode-full .megapanels-row_top .megapanels-pane_grow {
  padding: 0;
}

.node-bgimage.view-mode-full .field-name-field-bgimage-image .field-item {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  background: #eee;
}

.node-bgimage.view-mode-full .field-name-bgimage-photo-number {
  float: left;
  font-size: 0.9rem;
}

.node-bgimage.view-mode-full .field-name-bgimage-copyright {
  float: right;
  font-size: 0.9rem;
}

.node-bgimage.view-mode-full .field-name-bgimage-title-classification {
  clear: both;
}

.node-bgimage.view-mode-full .field-name-bgimage-title-classification h2 {
  font-weight: bold;
}

.node-bgimage.view-mode-full .field-name-bgimage-clip,
.node-bgimage.view-mode-full .field-name-bgimage-related {
  clear: both;
}

/* --- Related Images --- */

.field-name-bgimage-related {
  border-bottom: 1px solid #ddd;
  padding-bottom: 1rem;
}

.bgimage-related-thumb-current {
  box-shadow: 0px 0px 3px 2px var(--green-dark);
}

.node-bgimage.view-mode-full .field-name-bgimage-related .field-label {
  margin-bottom: 0.5rem;
}

.bgimage-related-container {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 0.5rem;
}

.bgimage-related a {
  display: block;
  margin-right: 1rem;
  margin-bottom: 1rem;
}

  .bgimage-related a:hover,
  .bgimage-related a:focus {
    box-shadow: 0px 0px 3px 2px var(--green-dark);
  }

.bgimage-related img {
  display: block;
  border: 1px solid #ddd;
}

/* --------------------- */
/* ## BUGGUIDE BUTTONS
/* --------------------- */

.action-links a {
  align-items: center;
  border: 1px solid transparent;
  border-radius: 0 3px 3px 0;
  box-shadow: none;
  display: inline-flex;
  font-size: 1rem;
  height: 2.25em;
  justify-content: flex-start;
  line-height: 1.5;
  padding-bottom: calc(0.375em - 1px);
  padding-left: calc(0.625em - 1px);
  padding-right: calc(0.625em - 1px);
  padding-top: calc(0.375em - 1px);
  position: relative;
  vertical-align: top;
  user-select: none;
  background-color: white;
  border-color: #dbdbdb;
  color: #363636;
  cursor: pointer;
  justify-content: center;
  padding-left: 0.75em;
  padding-right: 0.75em;
  text-align: center;
  white-space: nowrap;

  /* is-small 
  border-radius: 2px;
  font-size: 0.75rem;*/

  text-decoration: none;
}

  .action-links a:hover {
    border-color: #b5b5b5;
    color: #363636;
  }

/* + Add images (of this individual) */
.page-node-bgimage .action-links a:before,
.page-node-bgref .action-links a:before,
.page-node-bglink .action-links a:before,
.node-type-bgimage .action-links a:before {
  content: '\f067'; /* fa-plus */
  font-family: 'FontAwesome';
  display: inline-block;
  margin-right: 0.5rem;
}

.page-node-bgimage .action-links li {
  display: inline;
}

/* The Recent images button */

.page-node-bgimage .action-links li:nth-child(2) a:before {
  content: '\f061'; /* fa-arrow-right */
}

.node-type-bgimage .action-links a {
  /* is-small */
  border-radius: 2px;
  font-size: 0.75rem;
}

.page-node-bgimage .action-links a,
.page-node-bgref .action-links a,
.page-node-bglink .action-links a {
  margin-bottom: 1rem;
}

/* Add to clipboard */
/* These already have the button class, so just add icon. */

.field-name-bgimage-clip a:before,
.bgimage-related-actions a:before {
  content: '\f0ea';
  font-family: 'FontAwesome';
  display: inline-block;
  margin-right: 0.5rem;
}

/* The unlink button gets its own icon. */

.bgimage-related-actions .bgimage-related-action-unlink:before {
  content: '\f127';
}

.bgimage-related-actions a {
  margin-bottom: 0.75rem;
}

input#edit-submit-save-and-sync {
  background-color: var(--primary);
  border-color: transparent;
  color: #fff;
}

/* Links for actions related to the taxonomy tab. */
.taxonomy-tree-links {
  margin-top: 1rem;
}

.taxonomy-tree-links a {
  margin-bottom: 0.75rem;
}

.taxonomy-tree-links a:not(:last-child) {
  margin-right: 0.25rem;
}

/* --------------------- */
/* ## GUIDE PAGE
/* --------------------- */

/* --- Representative Images --- */
/* This ul is inside of the page .content so is getting the
 * bulleted list style. So we're going to override it.
 */

.field-name-bgpage-representative-images ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

/* The border around the representative images will align with the rightmost image,
 * not the right side of the page which would leave a big white area.
 */

.field-name-bgpage-browse .card,
.field-name-bgpage-representative-images .card {
  display: inline-block;
}

/* --------------------- */
/* ## COMMENTS
/* --------------------- */

/* Classes from D7 Comment module. Seen in both comments on nodes
 * and when responding to forum topics. */

.comment-form.title {
  margin-top: 2rem;
  margin-bottom: 1.5rem;
  font-size: 1.5rem; /* Like bulma's .title.is-4 */
}

/* --------------------- */
/* ## USER PAGE - IMAGES
/* --------------------- */

/* Put the Images Per Page filter inline */
.view-my-images.view-display-id-page .views-exposed-widgets .form-item-items-per-page {
  display: flex;
  align-items: center;
  margin-bottom: 0;
}

.view-my-images.view-display-id-page .views-exposed-widgets .form-submit {
  margin-top: 0;
}

/* --------------------- */
/* ## MEGAPANELS
/* --------------------- */

.megapanels-row {
  display: flex;
  flex-wrap: wrap;
  margin-right: -0.5rem;
  margin-left: -0.5rem;
}

  @media (max-width: 740px) {
    .megapanels-row {
      margin-left: 0.5rem;
      margin-right: 0.5rem;
    }
  }

.megapanels-pane {
  flex: 1 1 250px;
  min-width: 250px;
  margin: 0 0.5rem;
  margin-bottom: 1rem;
  padding: 1rem;
}

.megapanels-pane_grow {
  flex-grow: 4;
}

.megapanels-wrapper:not(.megapanels-wrapper_full_top) {
  margin-top: 1rem;
}

.megapanels-wrapper ~ .megapanels-wrapper {
  margin-top: 0;
}

.megapanels-wrapper_full_top {
  margin-bottom: 1rem;
}

@media (max-width: 1139px) and (min-width: 600px) {
  .megapanels-pane:first-child:nth-last-child(4),
  .megapanels-pane:first-child:nth-last-child(4) ~ .megapanels-pane {
    width: calc(50% - 1rem);
    flex: 0 1 auto;
  } 
}

@media (max-width: 829px) {
  .megapanels-pane:first-child:nth-last-child(3),
  .megapanels-pane:first-child:nth-last-child(3) ~ .megapanels-pane {
    width: calc(50% - 1rem);
    flex: 0 1 auto;
  }
}

/* --------------------- */
/* ## CREATE/EDIT FORMS
/* --------------------- */

@media screen and (min-width: 1024px) {
  /* Override bulma to display as block instead of grid. */
  .node-bgimage-form .form-type-textfield,
  .node-bgimage-form .form-type-select {
    display: block;
    max-width: unset;
  }
}

.node-bgimage-form input[type=text] {
  width:100%;
}

.node-bgimage-form .form-item:not(.form-type-checkbox) > label
{
  display: block;
}

.node-bgimage-form .form-type-checkbox {
  display: inline-block;
}

/* The margins for these classes seem to be meant for dates with settings we're
 * not using, so just reset them to 0. */
.node-bgimage-form .form-type-date-text,
.node-bgimage-form .form-item-field-bgimage-date-und-0-value-date {
  margin-bottom: 0;
}

/* This element is meant to display information about available text formats,
 * but we only ever allow one, so the element is always empty but still takes
 * up space. */
#edit-body-und-0-format {
  display: none;
}

.guide-edit-form {
  border: 1px solid #dbdbdb;
  padding: 1rem;
  margin-top: 1rem;
}

.guide-edit-form input[type="text"] {
  vertical-align: baseline;
  margin-right: 0.25rem;
}

.guide-reorder-directions {
  margin-bottom: 1rem;
}

/* --------------------- */
/* ## MISC
/* --------------------- */

.bg-image-list img {
  margin: 0 !important;
}

.bg-image-list .columns {
  align-items: flex-end;
}

.bg-image-list .column {
    padding: 0.15rem;
}
