.field-type-fivestar .field-label {
  display: none;
}

.field-type-fivestar .form-radios {
  display: flex;
}

.field-type-fivestar .form-item {
  /* override bulma */
  margin-bottom: 0;
}

.field-type-fivestar input[type="radio"] {
  /* sr-only */
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0,0,0,0);
  border: 0;
}

.field-type-fivestar input[value="-"],
.field-type-fivestar input[value="-"] ~ label {
  display: none;
}

.field-type-fivestar .form-type-radio label {
  display: block;
  height: 15px;
  width: 15px;
  margin-right: 0.25rem;
  background: url(../widgets/default/star.gif) no-repeat 0 0;
  cursor: pointer;
}

.field-type-fivestar input:hover ~ label,
.field-type-fivestar input:focus ~ label {
  background-position: 0 -16px;
}

.field-type-fivestar input:checked ~ label {
  background-position: 0 -32px;
}