/* COLORS */

.color {

    color: #f1eee7; /* very light tan */
    color: #E7DBC1; /* tan */
    color: #dad5c3; /* middle tan */
    color: #c6be9e; /* dark tan */
    color: #44402e; /* very dark brown */
    color: #76684a; /* brown */
    color: #407629; /* green */

}

/* ---------------------- */
/* ## GENERAL */
/* ---------------------- */

#page { background: #ffffff; }

main.region { margin-top: 0; }

a,
a:link {
    color: #76684a; /* brown */
}

a:hover,
a:visited  {
    color: #407629; /* green */
}

blockquote {
    border-color: #E7DBC1; /* tan */
}

/* -------------------- */
/* ## GRID */
/* -------------------- */

@media (min-width: 980px) {
.zone-content-wrapper .container-12 .grid-2 {
    width: 20% !important;
}
    
.zone-content-wrapper .container-12 .grid-10 {
    width: 75% !important;
}
}

/* ---------------------- */
/* ## COMPONENTS */
/* ---------------------- */

.more-link {
    background: #76684a; /* brown */
}

.more-link:hover {
    background: #44402e; /* very dark brown */
}

.more-link > a {
    color: #ffffff;
}

/* -------------------- */
/* ## PAGER */

.pager li.pager-current {
    background: #ddd;
}


/* ---------------------- */
/* ## HEADER */
/* ---------------------- */

.zone-branding-wrapper {
    color: #000000;
    background: #E7DBC1; /* tan */
    border-bottom: 0;
}

.region-branding hr {
    background: #000000;
}

#region-branding .site-name-level-2 a {
    color: #000000;
}

#region-branding .site-name-slogan a {
    color: #000000;
    line-height: 1;
}

#isu_header_wordmark { width: 200px; }

/* ---------------------- */
/* ## SEARCH */
/* ---------------------- */

@media (min-width: 740px) {

    .zone-branding {
        position: relative;
    }

    #region-search {
        position: absolute;
        right: 0;
        bottom: 15px;
    }
}

/* ---------------------- */
/* ## MAIN MENU */
/* ---------------------- */

.zone-menu-wrapper {
    background: #c6be9e; /* dark tan */
}

#main-menu a,
#main-menu a:hover,
#main-menu a:focus,
#main-menu a:active { 
    color: #000000; 
    border-bottom: 5px solid transparent;
}

#main-menu a:hover, 
#main-menu a:focus, 
#main-menu a:active, 
#main-menu a.highlighted, 
#main-menu a.active-trail, 
#main-menu a.active {
    color: #ffffff;
    background: #44402e; /* very dark brown */
    border-bottom: 5px solid  #E7DBC1; /* tan */
}

@media (min-width: 740px) {

    
    #main-menu a span.sub-arrow {
        border-color: #000000;
    }
    
    #main-menu a.active-trail span.sub-arrow,
    #main-menu a.active span.sub-arrow {
        border-color: #ffffff;
    }

    #main-menu ul a span.sub-arrow {
        border-color: #76684a; /* brown */
    }

    #main-menu a:hover span.sub-arrow,
    #main-menu a.highlighted span.sub-arrow {
        border-color: #ffffff;
    }

    #main-menu ul a.has-submenu:hover span.sub-arrow,
    #main-menu ul a.has-submenu.highlighted span.sub-arrow {
        border-color: #76684a; /* brown */
    }
    
}

#main-menu ul a:hover,
#main-menu ul a:focus,
#main-menu ul a:active,
#main-menu ul a.highlighted,
#main-menu ul a.active-trail,
#main-menu ul a.active {
    color: #76684a; /* brown */
}

#zone-menu.sticky-top {
    background: #c6be9e; /* dark tan */
}

/* ---------------------- */
/* ## MOBILE MENU */
/* ---------------------- */

#main-menu-nav .sm-menu-btn {
    color: #000000;
}

.sm-menu-btn-icon,
.sm-menu-btn-icon:before,
.sm-menu-btn-icon:after {
    background: #000000;
}

@media (max-width: 739px) {
    
    #main-menu a,
    #main-menu a:hover,
    #main-menu a:focus,
    #main-menu a:active { 
        color: #000000; 
        border-bottom: 0;
    }

    #main-menu a:hover, 
    #main-menu a:focus, 
    #main-menu a:active, 
    #main-menu a.highlighted, 
    #main-menu a.active-trail, 
    #main-menu a.active {
        color: #ffffff;
        border-bottom: 0;
    }
}

/* ---------------------- */
/* ## ## SECONDARY MENU  */
/* ---------------------- */

.region-inner.region-secondary-menu-inner {
    background: #dad5c3; /* middle tan */
}

.region-secondary-menu .links > li > a:hover {
    background: rgba(0, 0, 0, 0.1);
}

/* ---------------------- */
/* ## BREADCRUMBS */
/* ---------------------- */

.breadcrumb {
    margin-bottom: 1rem;
}

.breadcrumb a:hover {
    color: #407629; /* green */
}

/* ---------------------- */
/* ## MEGA PANELS */
/* ---------------------- */

.panel-display .panel-panel.grid-3 {
    background: #ffffff;
}

/* ---------------------- */
/* ## VIEW CATEGORIES */
/* ---------------------- */

.view-categories {
    padding: 1rem;
    background: #ffffff;
    border: 1px solid #ddd;
}

/* ---------------------- */
/* ## PAGES */
/* ---------------------- */

.node.node-announcement {
    padding: 1rem;
    background: #ffffff;
    border: 1px solid #ddd;
}

.views-row > .node-announcement {
    background: #ffffff;
}

/* ---------------------- */
/* ## SIDEBARS */
/* ---------------------- */

.region-sidebar-first-inner .block,
.region-sidebar-second-inner .block,
.js-suitcase-facet.block  {
    margin-bottom: 1rem;
    padding: 0;
    background: #ffffff;
    border: 0;
}

/* ---------------------- */
/* ## FACETS */
/* ---------------------- */

.block-facetapi .content .item-list .facetapi-facet-im-field-tags li a.facetapi-active, 
.block-facetapi .content .item-list li a.facetapi-active {
    background: #76684a; /* brown */
    border-color: #76684a; /* brown */
}

.block-facetapi .content .item-list li a:hover {
    background: #76684a; /* brown */
    border-color: #76684a; /* brown */
}

/* ---------------------- */
/* ## FOOTER */
/* ---------------------- */

#section-footer a,
#section-footer a:link {
    color: #76684a; /* brown */
}

#section-footer a:hover,
#section-footer a:link:hover,
#section-footer a:visited {
    color: #407629; /* green */
}

#section-footer ul.menu a {
    color: #76684a; /* brown */
    text-decoration: underline;
}

/* ---------------------- */
/* ## INDIVIDUAL IMAGE VIEW */
/* ---------------------- */

.node-type-bgimage #page-title {     
    /* Hide visibility, show to screenreaders */
    position: absolute;
    top: auto;
    left: -10000px;
    height: 1px; width: 1px;
    overflow: hidden;
}

/* -------------------- */
/* --- LAYOUT --- */

.group-middle {
    margin-bottom: 2rem;
}

.group-right {
    margin-bottom: 2rem;
    padding-left: 1rem;
}

.group-footer {
    border-top: 1px solid #ddd;
}

/* -------------------- */
/* --- TABS --- */

.region-content-inner > .tabs > .tabs.primary > li {
    display: inline-block;
}

.region-content-inner > .tabs > .tabs.primary > li:not(.active):hover > a,
.region-content-inner > .tabs > .tabs.primary > li.active > a {
    background: #fff;
    border-bottom: 1px solid #fff;
}


@media ( max-width: 979px) {
    
    .region-content-inner > .tabs > .tabs.primary > li {
        margin-bottom: -3px;
    }
        
    .region-content-inner > .tabs > .tabs.primary > li > a {
        padding: 0.25rem 0.5rem;
    }

    .block-tagged-images .item-list {
        display: flex;
        flex-wrap: wrap;
        align-items: flex-end;
    }   
}

/* -------------------- */
/* --- IMAGE --- */

.field-name-field-bgimage-image .field-item {
    margin: 0;
}

.field-name-field-bgimage-image {
    text-align: center;
    background: #eee;
}

.field-name-field-bgimage-image img {
    border: 1px solid #ccc;
}

.field-name-bgimage-photo-number,
.field-name-bgimage-copyright {
    font-size: 0.95rem;
}

.field-name-bgimage-photo-number {
    float: left;
}

.field-name-bgimage-copyright {
    float: right;
}

/* -------------------- */
/* --- IMAGE ACTIONS --- */


.field-name-bgimage-tag {
    clear: both;
}

.action-links {
    margin: 0;
    margin-bottom: 1rem;
    padding: 0;
    list-style-type: none;
}

.action-links a,
.field-name-bgimage-tag a,
.bgimage-related-actions a {
    display: inline-block;
    padding: 0.25rem 0.5rem;
    color: #44402e;
    font-size: 0.95rem;
    font-weight: 700;
    text-decoration: none;
    background: #E7DBC1;
    border: 1px solid #c6be9e;
    border-radius: 3px;
    transition: all 250ms ease;
}

.field-name-bgimage-tag a:before,
.bgimage-related-actions a:before {
    content: '\f097';
    font-family: 'FontAwesome';
    display: inline-block;
    margin-right: 10px;
}

.action-links a:before {
    content: '\f067';
    font-family: 'FontAwesome';
    display: inline-block;
    margin-right: 10px;
}

.field-name-bgimage-tag a:hover,
.bgimage-related-actions a:hover {
    color: #ffffff;
    text-decoration: none; 
    background: #44402e;
    border-color: #000;
}

/* -------------------- */
/* --- RELATED IMAGES --- */

.field-name-bgimage-related .field-label {
    margin-bottom: 1rem;
}

.bgimage-related {
    display: inline-block;
    margin-right: 0.5rem;
    margin-bottom: 1rem;
}

.bgimage-related-thumb {
    border: 1px solid transparent;
}
    
.bgimage-related-thumb-current,
.bgimage-related-thumb:hover {
    border-color: #ffffff;
    outline: 3px solid #44402e;
}

/* -------------------- */
/* --- FIELDS --- */

.group-right .field {
    padding: 1rem;
    border: 1px solid #ddd;
}

.group-right .field-label {
    margin-bottom: 0.5rem;
    font-size: 0.95rem;
}

/* -------------------- */
/* --- FIVESTAR --- */

.field-type-fivestar .field-item {
    display: block;
}

.field-type-fivestar .form-item {
    margin: 0;
}

.field-type-fivestar .description {
    display: none;
}

/* -------------------- */
/* --- SUBMITTED BY --- */
.field-name-submitted-by,
.field-name-changed-date {
    font-size: 0.9rem;
}

/* -------------------- */
/* --- CLASSIFICATION --- */

.field-name-bgimage-title-classification h2 {
    margin-top: 1rem;
}

/* -------------------- */
/* --- COMMENTS --- */

.comment-wrapper .title {
    font-size: 1.15rem;
}

article.comment {
    margin-bottom: 1rem;
    padding: 1rem;
    border: 1px solid #ddd;
}

article.comment h3 {
    margin-top: 0;
    font-size: 1.15rem;
}

article.comment .comment-submitted {
    margin-bottom: 10px;
    font-size: 0.95rem;
    color: #666;
}

.comment-links {
    margin: 1rem -1rem -1rem -1rem;
    padding: 1rem;
    border-top: 1px solid #ddd;
    font-size: 0.95rem;
}

.comment-links ul li {
    padding: 0;
}

.comment-links ul li a {
    display: inline-block;
    margin: 0;
    float: none;
}

.title.comment-form {
    font-size: 1.5rem;
}

.comment-form .form-actions {
    margin: 0;
}

/* ---------------------- */
/* ## ID REQUEST */
/* ---------------------- */

.field-name-bgpage-images ul:first-of-type:last-of-type {
    border: 0;
    padding: 0;
}

/* ---------------------- */
/* ## BROWSE */
/* ---------------------- */

.field-name-bgpage-browse ul:not(.pager),
.field-name-bgpage-images ul:not(.pager) {
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin: 0;
    margin-bottom: 2rem;
    padding: 1rem;
    border: 1px solid #ddd;
    border-radius: 3px;
}

.field-name-bgpage-browse img,
.field-name-bgpage-images img {
    border: 1px solid #ccc;
}

/* -------------------- */
/* ## CLIPBOARD */
/* -------------------- */

.region-sidebar-first-inner .block,
.region-sidebar-second-inner .block { /**/
    margin-bottom: 1rem;
    padding: 1em;
    border: 1px solid #ddd;
}

.block-tagged-images .item-list {
    margin-left: -1rem;
    margin-right: -1rem;
    margin-bottom: 1rem; 
    padding: 0 calc(1rem - 10px);
    border-bottom: 1px solid #ddd;
}

.block-tagged-images a.clip-remove,
.block-tagged-images a.clip-remove-all,
.block-tagged-images a.clip-move,
.block-tagged-images a.clip-link {
    display: inline-block !important;
    margin-top: 0.5rem;
    margin-right: 0.5rem;
    padding: 0.25rem 0.5rem;
    color: #44402e;
    font-size: 0.8rem;
    font-weight: 700;
    text-decoration: none !important;
    text-transform: capitalize;
    background: #E7DBC1;
    border: 1px solid #c6be9e !important;
    border-radius: 3px;
    transition: all 250ms ease;
}

.block-tagged-images a.clip-remove:before,
.block-tagged-images a.clip-remove-all:before,
.block-tagged-images a.clip-move:before,
.block-tagged-images a.clip-link:before {
    content: '\f00d';
    font-family: 'FontAwesome';
    display: inline-block;
    margin-right: 10px;
    font-weight: 500;
}

.block-tagged-images a.clip-move:before {
    content: '\f178';
}

.block-tagged-images a.clip-link:before {
    content: '\f0c1';
    transform: rotate(-45deg);
}

.block-tagged-images a.clip-remove:hover,
.block-tagged-images a.clip-remove-all:hover,
.block-tagged-images a.clip-move:hover,
.block-tagged-images a.clip-link:hover {
    color: #ffffff;
    text-decoration: none;
    background: #44402e;
    border-color: #000 !important;
}

/* -------------------- */
/* ## RECENT */
/* -------------------- */

.view-recently-placed .node {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 1rem;
    padding: 1rem;
    border: 1px solid #ddd;
}

.view-recently-placed .node .group-header {
    width: 100%;
    margin-bottom: 1rem;
}

.view-recently-placed .node .group-left {
    width: auto;
    flex-shrink: 0;
    margin-right: 1rem;
}

.view-recently-placed .node .group-right {
    width: auto;
    flex-grow: 1;
    margin-bottom: 0;
    padding: 0;
}

.view-recently-placed .field-name-title {
    margin-bottom: 1rem;
    padding: 0;
    border: 0;
}

.view-recently-placed .node .group-right .field {
    padding: 0;
    border: 0;
}

.view-recently-placed .node .group-footer {
    width: 100%;
    margin-top: 1rem;
    padding-top: 1rem;
}

.view-recently-placed .field-name-title h2 {
    margin-top: 0;
}

/* -------------------- */
/* ## RECENT HOMEPAGE */
/* -------------------- */

.view-recent-images .view-mode-homepage {
    display: flex;
}

.view-recent-images .view-mode-homepage .field-name-field-bgimage-field-placed-by {
    flex: 1 1 200px;
}

.view-recent-images .view-mode-homepage .field-name-field-bgimage-image {
    width: 100px;
    margin-right: 1rem;
    margin-bottom: 0;
    padding: 0.5rem;
}

.view-recent-images .view-mode-homepage br {
    display: none;
}

.view-recent-images .view-mode-homepage .field-name-bgimage-field-placed-by a:last-child {
    margin-left: 5px;
}


/* -------------------- */
/* ## TEMPORARY HOMEPAGE */
/* -------------------- */

.container {
    width: 100%;
    max-width: 1220px;
    margin: 0 auto;
    padding: 2rem;
}

.bghome-hero {
    justify-content: center;
    height: 50vh;
    background-color: #eee;
    background-image: url(https://beta.bugguide.net/files/bg_caterpillar.jpg);
    background-size: cover;
    background-position: center right;
}

.bghome-hero .container {
    display: flex;
    align-items: flex-end;
    height: 100%;
}

.bghome-hero-caption {
    padding: 1rem;
    color: #44402e;
    font-size: calc(1rem + 3vw);
    background: #E7DBC1;
    border-radius: 3px;
}

.bghome-row {
    display: flex;
    flex-wrap: wrap;
}

.bghome-quicklink {
    flex: 1 1 auto;
    margin-right: 1rem;
    margin-left: 1rem;
    margin-bottom: 2rem;
    padding: 1rem;
    text-align: center;
}

.bghome-quicklink a {
    font-size: 2rem;
    text-decoration: none;
}

.bghome-quicklink-img {
    height: 200px; width: 200px;
    margin: 0 auto;
    border-radius: 200px;
    border: 1px solid #ddd;
    background-size: cover;
    background-position: center;
}

.bghome-quicklink-1 .bghome-quicklink-img {
    background-image: url(/files/styles/bg_large/public/OL5/RDL/OL5RDLZR5LVHBZPH9Z9LJLELJLWLYL6LFLTZZZULZZDZZZTZJLWLZZYZKRNLMZRHPRDLKZKHXZALMZVL8RLHERQHPR0H2RZH6R.jpg?itok=0iNM8Yg6);
}

.bghome-quicklink-2 .bghome-quicklink-img {
    background-image: url(/files/styles/bg_large/public/9ZU/HNZ/9ZUHNZHHSZFZVL2ROL8ZLLPZZL6ZQL2Z0L5ZHL6ZGLYHMHEZZLOH4HBHSL5ZLLAHGH4ZQL8Z5HBH0LAHXHOHNHOHRL1HXH6ZLL.jpg?itok=9vEDQyuA);
}

.bghome-quicklink-3 .bghome-quicklink-img {
    background-image: url(/files/styles/bg_large/public/P0J/R60/P0JR60IKJ0QK9QOKBQ70DQ50Q0P0Z0P0Z0MQ3R0QTR20ORXQBRM0BRX0URJKWRKQH0603RIQFR7QQ090K050DQ3KWRI0JQJKCQ.jpg?itok=JoP_noik);
}